# Copia a scripts/cdk.deploy.env y ajusta (no commitees secretos).
# El script scripts/cdk_deploy_hint.sh lo carga con set -a.

NUWA_CDK_ENVIRONMENT=prod
NUWA_CDK_USE_DATABASE=true
NUWA_CDK_REUSE_SECRETS=true
NUWA_RDS_VPC_ID=vpc-0dc24fcb6dec4f5db
NUWA_RDS_SG_ID=sg-02664d9e7ccd46830
NUWA_LAMBDA_SUBNET_IDS=subnet-092397141c9ed4e58,subnet-0d78b173be4b53f2d
NUWA_CDK_VERSION=2.170.0
CDK_DEFAULT_REGION=us-east-1
NUWA_AWS_PROFILE=nuwa-prod
